<footer class="text-white py-4" style="background-color: var(--primary-color)">
  <div
    class="container d-flex flex-column flex-md-row justify-content-between align-items-center gap-3"
  >
    <div>
      <h6 class="mb-1">Club Náutico Poseidón del Perú</h6>
      <small>Av. del Muelle 123, Callao, Perú</small>
    </div>

    <div class="d-flex gap-3">
      <a href="#" class="text-white">Facebook</a>
      <a href="#" class="text-white">Instagram</a>
    </div>

    <small>&copy; 2026 Club Náutico Poseidón del Perú.</small>
  </div>
</footer>
