/* root sería las variables globales para que puedan usarse en cualquier parte*/
:root {
    --primary-color: #4502f1;
    --bg-light: #dfdf;
    --text-dark: #222;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20;
    padding: 0;
    background-color: var(--bg-light);
    color: var(--text-dark);
}

.logo-text {
    font-weight: bold;
    /* rem es una medida relativa a comparación del tamaño de la fuente, se adapta a cada pantalla*/
    font-size: 1.8rem;
    color: #370;
}

.titulo {
    /* con var() se puede sacar las variables globales para usarlas*/
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
}